+++
title = "Automaduino"
linkTitle = "Automaduino"

+++

{{< blocks/cover title="" image_anchor="center" height="full" color="orange" >}}
<img src="automaduino_logo.png" style="max-width: 200px;"/>
<div class="mx-auto">
	<p class="lead mt-5">Create Arduino Code using State Machines</p>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< ref "/docs/Getting started/_index.md" >}}">
		Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://app.automaduino.com">
		Start Coding <i class="fas fa-code ml-2 "></i>
	</a>
	{{< blocks/link-down color="info" >}}	
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Here goes a Description

Here is a [Link](http://docsy.dev))
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Tutorials available!"  url="https://automaduino.com/docs/tutorials/"  %}}
Tutorials comming soon...
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/DeborahFehr/automaduino" %}}
We do a [Pull Request](https://github.com/DeborahFehr/automaduino) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-file-alt" title="Docs are here" url="https://automaduino.com/docs/" %}}
Link to the documentation...
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h3 class="text-center">Created as a MA Thesis...</h3>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Start Now</h1>
</div>

{{< /blocks/section >}}
