+++
title = "Automaduino"
linkTitle = "Automaduino"

+++

{{< blocks/cover title="" image_anchor="center" height="full" color="orange" >}}
<img src="automaduino_logo.png" style="max-width: 200px;"/>
<div class="mx-auto">
	<p class="lead mt-5">Erstelle Automaduino Code mit endlichen Automaten!</p>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< ref "/docs/Getting started/_index.md" >}}">
		Zur Dokumentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://app.automaduino.com">
		Zum Editor <i class="fas fa-code ml-2 "></i>
	</a>
	{{< blocks/link-down color="info" >}}	
</div>
{{< /blocks/cover >}}

 {{% blocks/lead color="white" %}}
 [Klicke hier um die erste Umfrage auszufüllen!](https://forms.gle/MhUGQjCwfWRjrWfp6)
 <!-- 
[Klicke hier um die zweite Umfrage auszufüllen!](https://forms.gle/GH4Mj4ZM44CLHHh39)
 -->
 {{% /blocks/lead %}}

{{% blocks/lead color="primary" %}}
Automaduino ist eine visuelle Programmiersprache für den Arduino basierend auf Automaten.
Automaduino wird entwickelt von [Deborah Fehr](http://fehr.solutions) als Informatik Abschlussarbeit.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Workshop Material" url="https://automaduino.com/docs/workshop/"  %}}
Hier findest du die Materialien für einen 3 tägigen Workshop. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Open Source" url="https://github.com/DeborahFehr/automaduino" %}}
Hier geht's zum Code für den Editor. Entwickelt mit [Flutter](https://flutter.dev/)!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-file-alt" title="Documentation" url="https://automaduino.com/docs/" %}}
Hier findest du die Dokumentation.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section  color="light">}}
<div class="col text-center">
<h3>Bereit?</h3>
<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://app.automaduino.com">Los geht's.</a>
</div>

{{< /blocks/section >}}
